# Load nutrient data

1. make x-array
2. combine good data
3. create plot with one y axis µM and the other pressure
    -> only select pressure for sampling days

In [101]:
import numpy as np
import matplotlib.pyplot as plt
import datetime 
import xarray as xr
import pandas as pd

In [24]:
file_name = '/Users/marie-louisekorte/OneDrive - University of the Highlands and Islands/SAMS Summer Internship/Rockall_Trough_MHW/data/BioGeoChem/20172018_RAS_data_use_original.csv'
ds_N = pd.read_csv(file_name, header = 10)
ds_N = ds_N.drop(labels = 0)

In [164]:
ds_N['date']=''

In [169]:
dt_year = (ds_N.Year) 
dt_month =(ds_N.Month)
dt_day = (ds_N.Day)

In [173]:
dt = (dt_year + dt_month + dt_day)

In [174]:
format= "%Y%m%d"

In [175]:
for n in dt.index:
    dt_object = datetime.datetime.strptime(dt[n], format)
    ds_N.date[n]=dt_object

In [176]:
ds_N

,Sample id,Day,Month,Year,Hour,Min,Nitrite1,Nitrite2,Nitrite+Nitrate1,Nitrite+Nitrate2,...,Phosphate2,Phos1_flag,Phos2_flag,mean DIC,std DIC,DIC_flag,mean TA,std TA,TA_flag,date
1,RAS 1,15,5,2017,6,0,0.1,0.2,8.6,5.3,...,0.69,3,2,2865,3,4,2313,4,2,2017-05-15 00:00:00
2,RAS 2,25,5,2017,6,0,0.2,0.2,9.5,9.2,...,0.85,3,2,2883,7,4,2275,8,4,2017-05-25 00:00:00
3,RAS 3,4,6,2017,6,0,0.0,0.0,9.2,10.3,...,0.88,2,2,2894,10,4,2321,0,2,2017-06-04 00:00:00
4,RAS 4,14,6,2017,6,0,0.1,0.1,3.2,3.2,...,0.60,2,2,2686,2,4,2179,3,4,2017-06-14 00:00:00
5,RAS 5,24,6,2017,6,0,0.0,0.3,10.9,6.9,...,0.77,3,2,2856,6,4,2316,2,2,2017-06-24 00:00:00
6,RAS 6,4,7,2017,6,0,0.2,0.2,6.4,6.5,...,0.66,2,2,2148,7,4,1780,85,4,2017-07-04 00:00:00
7,RAS 7,14,7,2017,6,0,0.2,0.3,6.2,8.2,...,0.84,2,2,2964,6,4,2320,7,2,2017-07-14 00:00:00
8,RAS 8,24,7,2017,6,0,0.3,0.3,7.4,7.5,...,0.76,2,2,2581,5,4,2077,7,4,2017-07-24 00:00:00
9,RAS 9,3,8,2017,6,0,0.0,0.4,10.8,8.0,...,0.84,2,2,2994,6,4,2319,2,2,2017-08-03 00:00:00
10,RAS 10,13,8,2017,6,0,0.2,0.2,4.9,5.2,...,0.61,2,2,2871,3,4,2313,6,2,2017-08-13 00:00:00
11,RAS 11,23,8,2017,6,0,0.0,0.2,11.1,5.1,...,0.68,3,2,2783,2,4,2323,1,2,2017-08-23 00:00:00
12,RAS 12,2,9,2017,6,0,0.3,0.3,5.8,5.9,...,0.68,2,2,2860,2,4,2328,1,2,2017-09-02 00:00:00
13,RAS 13,12,9,2017,6,0,0.2,0.2,6.6,6.8,...,0.73,3,2,2805,5,4,2312,1,2,2017-09-12 00:00:00
14,RAS 14,22,9,2017,6,0,0.2,0.2,3.3,3.1,...,0.53,2,2,2951,6,4,2329,3,2,2017-09-22 00:00:00
15,RAS 15,2,10,2017,6,0,0.1,0.2,4.4,4.7,...,0.76,2,2,2657,10,4,2309,2,2,2017-10-02 00:00:00
16,RAS 16,12,10,2017,6,0,0.2,0.2,4.3,4.3,...,0.69,2,2,2639,23,4,2266,6,4,2017-10-12 00:00:00
17,RAS 17,22,10,2017,6,0,0.2,0.2,5.5,5.5,...,0.75,2,2,2577,6,4,2184,6,4,2017-10-22 00:00:00
18,RAS 18,1,11,2017,6,0,0.2,0.2,5.3,5.4,...,0.70,3,2,2540,6,4,2316,1,2,2017-11-01 00:00:00
19,RAS 19,11,11,2017,6,0,0.2,0.2,5.9,5.9,...,0.66,2,2,2573,8,4,2139,16,4,2017-11-11 00:00:00
20,RAS 20,21,11,2017,6,0,0.2,0.2,7.5,7.6,...,0.73,2,2,2706,4,4,2256,2,4,2017-11-21 00:00:00
21,RAS 21,1,12,2017,6,0,0.1,0.1,8.5,8.7,...,0.98,2,2,2889,6,4,2308,8,2,2017-12-01 00:00:00
22,RAS 22,11,12,2017,6,0,0.0,0.0,9.3,9.2,...,0.68,2,2,2681,4,4,2197,1,4,2017-12-11 00:00:00
23,RAS 23,21,12,2017,6,0,0.0,0.0,10.3,10.3,...,0.89,2,2,2795,3,4,2333,2,2,2017-12-21 00:00:00
24,RAS 24,31,12,2017,6,0,NaN,0.0,11.0,10.9,...,0.94,2,2,2773,4,4,2305,2,2,2017-12-31 00:00:00
25,RAS 25,10,1,2018,6,0,NaN,NaN,NaN,NaN,...,NaN,9,9,NaN,NaN,9,NaN,NaN,9,2018-01-10 00:00:00
26,RAS 26,20,1,2018,6,0,0.2,0.2,5.9,6.2,...,0.88,2,2,2616,14,4,2304,7,2,2018-01-20 00:00:00
27,RAS 27,30,1,2018,6,0,0.0,0.0,10.8,10.9,...,0.84,2,2,2786,4,4,2327,8,2,2018-01-30 00:00:00
28,RAS 28,9,2,2018,6,0,0.0,0.0,10.6,10.8,...,0.78,2,2,2881,4,4,2309,6,2,2018-02-09 00:00:00
29,RAS 29,19,2,2018,6,0,0.0,0.0,11.3,11.3,...,0.95,2,2,2441,98,4,1790,2,4,2018-02-19 00:00:00
30,RAS 30,1,3,2018,6,0,0.0,0.0,11.1,11.1,...,1.09,2,2,2698,9,4,2183,2,4,2018-03-01 00:00:00
31,RAS 31,11,3,2018,6,0,0.1,0.1,10.4,10.5,...,0.99,2,2,2670,3,4,1816,50,4,2018-03-11 00:00:00
32,RAS 32,22,3,2018,6,0,0.0,0.0,10.6,10.8,...,1.00,2,2,2402,13,4,1919,1,4,2018-03-22 00:00:00
33,RAS 33,31,3,2018,6,0,0.1,0.1,11.3,11.2,...,0.82,2,2,2473,4,4,2169,1,4,2018-03-31 00:00:00
34,RAS 34,10,4,2018,6,0,0.1,0.1,11.7,11.7,...,1.09,2,2,2600,4,4,2295,18,2,2018-04-10 00:00:00
35,RAS 35,20,4,2018,6,0,0.2,0.2,9.1,9.1,...,0.83,2,2,2499,7,4,2242,7,4,2018-04-20 00:00:00
36,RAS 36,30,4,2018,6,0,0.2,0.2,11.5,11.5,...,0.95,2,2,2545,7,4,2211,14,4,2018-04-30 00:00:00
37,RAS 37,10,5,2018,6,0,0.2,0.2,6.4,6.5,...,0.78,2,2,2617,5,4,2258,20,4,2018-05-10 00:00:00
38,RAS 38,20,5,2018,6,0,0.2,0.2,9.5,9.5,...,0.95,2,2,2575,8,4,2321,1,2,2018-05-20 00:00:00
39,RAS 39,30,5,2018,6,0,0.2,0.2,7.9,7.9,...,0.85,2,2,2611,4,4,2327,1,2,2018-05-30 00:00:00
40,RAS 40,9,6,2018,6,0,0.3,0.3,8.2,8.1,...,0.89,2,2,2489,6,4,2207,13,4,2018-06-09 00:00:00
41,RAS 41,19,6,2018,6,0,0.3,0.3,8.6,8.7,...,0.96,2,2,2582,14,4,2322,10,2,2018-06-19 00:00:00
42,RAS 42,29,6,2018,6,0,0.2,0.2,6.8,6.9,...,0.66,2,2,1945,273,4,1300,NaN,4,2018-06-29 00:00:00