# Mooring Data from the Rocakall Trough
EB1, WB1 & WB2

In [3]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
from datetime import date
import xarray as xr
import pandas as pd
import os
from pathlib import Path

In [44]:
data_path = Path('./data/')
eb1_files = list(sorted(
    (data_path).glob(f"rteb1_*/microcat/rteb1_*.microcat")
    ))

In [45]:
eb1_files

[PosixPath('data/rteb1_01_2014/microcat/rteb1_01_2014_001.microcat'),
 PosixPath('data/rteb1_01_2014/microcat/rteb1_01_2014_002.microcat'),
 PosixPath('data/rteb1_01_2014/microcat/rteb1_01_2014_003.microcat'),
 PosixPath('data/rteb1_01_2014/microcat/rteb1_01_2014_004.microcat'),
 PosixPath('data/rteb1_01_2014/microcat/rteb1_01_2014_006.microcat'),
 PosixPath('data/rteb1_01_2014/microcat/rteb1_01_2014_007.microcat'),
 PosixPath('data/rteb1_01_2014/microcat/rteb1_01_2014_008.microcat'),
 PosixPath('data/rteb1_02_2015/microcat/rteb1_02_2015_001.microcat'),
 PosixPath('data/rteb1_02_2015/microcat/rteb1_02_2015_002.microcat'),
 PosixPath('data/rteb1_02_2015/microcat/rteb1_02_2015_003.microcat'),
 PosixPath('data/rteb1_02_2015/microcat/rteb1_02_2015_004.microcat'),
 PosixPath('data/rteb1_02_2015/microcat/rteb1_02_2015_005.microcat'),
 PosixPath('data/rteb1_02_2015/microcat/rteb1_02_2015_006.microcat'),
 PosixPath('data/rteb1_02_2015/microcat/rteb1_02_2015_007.microcat'),
 PosixPath('data/rteb1_02_2015/microcat/rteb1_02_2015_008.microcat'),
 PosixPath('data/rteb1_03_2016/microcat/rteb1_03_2016_001.microcat'),
 PosixPath('data/rteb1_03_2016/microcat/rteb1_03_2016_003.microcat'),
 PosixPath('data/rteb1_03_2016/microcat/rteb1_03_2016_004.microcat'),
 PosixPath('data/rteb1_03_2016/microcat/rteb1_03_2016_005.microcat'),
 PosixPath('data/rteb1_03_2016/microcat/rteb1_03_2016_006.microcat'),
 PosixPath('data/rteb1_03_2016/microcat/rteb1_03_2016_007.microcat'),
 PosixPath('data/rteb1_03_2016/microcat/rteb1_03_2016_008.microcat'),
 PosixPath('data/rteb1_04_2017/microcat/rteb1_04_2017_002.microcat'),
 PosixPath('data/rteb1_04_2017/microcat/rteb1_04_2017_003.microcat'),
 PosixPath('data/rteb1_04_2017/microcat/rteb1_04_2017_004.microcat'),
 PosixPath('data/rteb1_04_2017/microcat/rteb1_04_2017_005.microcat'),
 PosixPath('data/rteb1_04_2017/microcat/rteb1_04_2017_006.microcat'),
 PosixPath('data/rteb1_04_2017/microcat/rteb1_04_2017_007.microcat'),
 PosixPath('data/rteb1_04_2017/microcat/rteb1_04_2017_008.microcat'),
 PosixPath('data/rteb1_04_2017/microcat/rteb1_04_2017_009.microcat'),
 PosixPath('data/rteb1_04_2017/microcat/rteb1_04_2017_010.microcat'),
 PosixPath('data/rteb1_04_2017/microcat/rteb1_04_2017_011.microcat'),
 PosixPath('data/rteb1_04_2017/microcat/rteb1_04_2017_012.microcat'),
 PosixPath('data/rteb1_04_2017/microcat/rteb1_04_2017_013.microcat'),
 PosixPath('data/rteb1_05_2018/microcat/rteb1_05_2018_001.microcat'),
 PosixPath('data/rteb1_05_2018/microcat/rteb1_05_2018_002.microcat'),
 PosixPath('data/rteb1_05_2018/microcat/rteb1_05_2018_003.microcat'),
 PosixPath('data/rteb1_05_2018/microcat/rteb1_05_2018_004.microcat'),
 PosixPath('data/rteb1_05_2018/microcat/rteb1_05_2018_005.microcat'),
 PosixPath('data/rteb1_05_2018/microcat/rteb1_05_2018_006.microcat'),
 PosixPath('data/rteb1_05_2018/microcat/rteb1_05_2018_008.microcat'),
 PosixPath('data/rteb1_05_2018/microcat/rteb1_05_2018_009.microcat'),
 PosixPath('data/rteb1_05_2018/microcat/rteb1_05_2018_010.microcat'),
 PosixPath('data/rteb1_05_2018/microcat/rteb1_05_2018_011.microcat'),
 PosixPath('data/rteb1_05_2018/microcat/rteb1_05_2018_012.microcat')]

In [77]:
cols = ['Year', 'Month', 'Day', 'Time', 'Temp', 'Conduct', 'Pressure']
EB = pd.read_csv(eb1_files[0], delim_whitespace = True ,header = None, skiprows = 11, names = cols)

In [78]:
EB

       Year  Month  Day      Time     Temp  Conduct  Pressure
0      2014      7   18  12.50028  10.3270  38.8320      78.7
1      2014      7   18  13.00027  10.4554  38.9411      78.6
2      2014      7   18  13.50029  10.4325  38.9219      78.4
3      2014      7   18  14.00028  10.3838  38.8783      78.1
4      2014      7   18  14.50027  10.4476  38.9319      77.9
...     ...    ...  ...       ...      ...      ...       ...
16160  2015      6   20   4.50029  10.0737  38.5480      76.9
16161  2015      6   20   5.00028  10.0634  38.5370      77.3
16162  2015      6   20   5.50027  10.0857  38.5683      77.5
16163  2015      6   20   6.00029  10.0280  38.5047      77.8
16164  2015      6   20   6.50028  10.1320  38.6280      78.1

[16165 rows x 7 columns]

In [82]:
import re

COMMENT = 'InstrDepth'
depth = []

for file in eb1_files:
    with open (file, 'r') as td:
        for line in td:

            if line [:10] == COMMENT:
                info = re.split(' +', line)
                depth.append(info[2])
print(depth)

['73', '230', '480', '730', '1235', '1485', '1762', '75', '253', '485', '742', '1005', '1250', '1515', '1800', '100', '500', '750', '1005', '1250', '1500', '1775', '50', '100', '250', '500', '750', '750', '950', '1005', '1250', '1500', '1600', '1775', '50', '103', '250', '500', '750', '750', '1000', '1250', '1500', '1650', '1760']